@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

*{
  font-family: "JosefinSans", sans-serif; /* Use the font-family you defined */
}
